<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor=#d4a3ae>

        <center>

        <h1> FUTURE VALUE PREDICTION </h1><br>
        
        <form method="POST", action="{{url_for('index')}}">
           <b> DATE :  <input type="text", name='date', placeholder="Enter date"> <br><br>
            <b> SYMBOL :  <input type="text", name='symbol', placeholder="Enter symbol"> <br><br>
            <br></b>
            <input type="submit" , value='predict!' >
        </form>
        
    </center>

    </body>
</html>